.not-found-container {
  height: 80%;
  display: flex;
  justify-content: center;
  margin: 2rem;
  background-color: white;

  mat-card {
    max-width: 25rem;
    margin-top: 10%;
    width: 23rem;
    height: 17rem;
    text-align: center;

    .center {
      display: flex;
      justify-content: center;
    }

    mat-card-title h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    mat-card-content p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    mat-card-actions {
      justify-content: center;
    }
  }
}

@media (max-width: 37.5rem) {
  .not-found-container {
    mat-card {

      mat-card-title h1 {
        font-size: 1.5rem;
      }

      mat-card-content p {
        font-size: 1rem;
      }
    }
  }
}
