.error-section {
  height: 80%;
  display: grid;
  place-items: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.flag-icon {
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  display: block;
}

.error-title {
  font-size: 2rem; /* Tamaño para pantallas pequeñas (equivalente a text-3xl) */
  line-height: 1.2; /* Propiedad leading-snug */
  color: #374151; /* blue-gray en Tailwind */

  @media (min-width: 768px) {
    font-size: 2.5rem; /* Tamaño para pantallas medianas y superiores (md:text-4xl) */
  }
}

.error-message {
  font-size: 18px; /* Tamaño personalizado */
  font-weight: 400; /* Equivalente a font-normal */
  color: #6b7280; /* text-gray-500 en Tailwind */
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    max-width: 24rem; /* Equivalente a md:max-w-sm */
  }
}

.back-home-button {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 768px) {
    width: 8rem; /* Ancho personalizado para pantallas medianas y superiores */
  }
}
