<div class="container" role="main" >
  <h1 class="title">Recommendations for your CV</h1>
  <h3 class="subtitle">Analyze your resume or resume in any language and get detailed recommendations.</h3>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="form">
    <div class="input-list">
      <div class="job-input">
        <mat-form-field appearance="fill">
          <mat-label aria-hidden="true" >Write your job description here...</mat-label>
          <textarea
            matInput
            id="job-description"
            placeholder="Write your job description here...."
            formControlName="jobDescription"></textarea>
          @if(jobDescription?.invalid && (jobDescription?.dirty || jobDescription?.touched)){
            <mat-error>
              @if(jobDescription?.errors?.['required'] && jobDescription?.touched){
                <span >This field is required</span>
              }
              @if(jobDescription?.errors?.['minlength'] && jobDescription?.touched){
                <span>The description must be greater than 100 characters.</span>
              }
              @if(jobDescription?.errors?.['maxlength'] && jobDescription?.touched){
                <span>The description cannot exceed 3000 characters</span>
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="file-input">
        <mat-label class="hidden" aria-hidden="false" >Upload CV (PDF)</mat-label>
        <input
          id="cv-upload"
          type="file"
          accept=".pdf"
          (change)="handleFileInput($event)"
          class="hidden"
          aria-hidden="true"
        />
        <button mat-button type="button" (click)="triggerFileUpload()" class="file-button">
          <mat-icon aria-hidden="false" aria-label="Upload icon" svgIcon="upload" >upload</mat-icon>Upload CV
        </button>
        <span class="filename">{{ filecv?.name }}</span>
        <mat-error>
          @if(form.get('filename')?.invalid && filecv){
            @if(form.get('filename')?.errors?.['required'] && filecv){
              <span>This field is required</span>
            }
            @if(form.get('filename')?.errors?.['pattern'] && filecv){
              <span>A PDF file is required</span>
            }
          }
        </mat-error>

      </div>
    </div>
    <button mat-flat-button type="submit" color="primary" class="submit-button" [disabled]="form.invalid"
      (mouseenter)="iconStyle = 'transform: translateX(-1rem) rotate(-60deg)'"
      (mouseleave)="iconStyle = ''"
    >
      <span>Get recommendations</span>
      <mat-icon [style]="iconStyle" aria-hidden="false" aria-label="Send icon"
        svgIcon="send" class="send-icon" ></mat-icon>
    </button>
  </form>

  @if(recommendations.title && recommendations.title.length > 0){
    <div class="recommendations">
      <h2 class="recommendations-title">{{ recommendations.title }}</h2>
    @if(recommendations.simpleParagraphs[0]){
      <div class="simple-recommendations">
        <mat-card class="recommendation-card simple-card">
          <mat-card-header>
            <mat-card-title>{{ recommendations.simpleParagraphs[0].title || "" }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ recommendations.simpleParagraphs[0].lineText }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    }


      <mat-accordion>
        @for(recommendation of recommendations.complexParagraphs; track recommendation){
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>
                <mat-icon color="primary" aria-hidden="false" class="svg-icon"
                  aria-label="Check circle icon" svgIcon="check-circle"/>
              </span>
              {{ recommendation.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            @for(subText of recommendation.subText; track subText){
              <li><strong>{{ subText.title }}:</strong> {{ subText.lineText }}</li>
            }
          </ul>
        </mat-expansion-panel>
        }
      </mat-accordion>

      @if(recommendations.simpleParagraphs[1]){
        <div class="simple-recommendations">
          <mat-card class="recommendation-card simple-card">
            <mat-card-header>
              <mat-card-title>{{ recommendations.simpleParagraphs[1].title || "" }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ recommendations.simpleParagraphs[1].lineText }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      }
    </div>

  }
</div>
