<div class="container" role="main" >
  <h1>Recommendations for your CV</h1>
  <p>Analyze your resume or resume in any language and get detailed recommendations.</p>
  <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="form">
    <div class="input-list">
      <div class="job-input">
        <mat-form-field appearance="fill">
          <mat-label aria-hidden="true" >Write your job description here...</mat-label>
          <textarea
            matInput
            id="job-description"
            placeholder="Write your job description here...."
            formControlName="jobDescription"></textarea>
          @if(jobDescription?.invalid && (jobDescription?.dirty || !jobDescription?.untouched)){
            <mat-error>
              @if(jobDescription?.hasError('required')){
                <span >This field is required</span>
              }
              @if(jobDescription?.hasError('minlength')){
                <span>The description must be greater than 100 characters.</span>
              }
              @if(jobDescription?.hasError('maxlength')){
                <span>The description cannot exceed 3000 characters</span>
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="file-input">
        <mat-label class="hidden" aria-hidden="true" >Upload CV (PDF)</mat-label>
        <input
          id="cv-upload"
          type="file"
          accept=".pdf"
          (change)="handleFileInput($event)"
          class="hidden"
          aria-hidden="true"
        />
        <button mat-button type="button" (click)="triggerFileUpload()" class="file-button">
          <mat-icon aria-hidden="false" aria-label="Upload icon" svgIcon="upload" >upload</mat-icon>Upload CV
        </button>
        <span class="filename">{{ fileCv?.name }}</span>
        <mat-error>
          @if(form.get('filename')?.invalid && fileCv){
            @if(form.get('filename')?.errors?.['required'] && fileCv){
              <span>This field is required</span>
            }
            @if(form.get('filename')?.errors?.['pattern'] && fileCv){
              <span>A PDF file is required</span>
            }
          }
        </mat-error>

      </div>
    </div>
    <button mat-flat-button type="submit" color="primary" class="submit-button" [disabled]="form.invalid"
      (mouseenter)="iconStyle = 'transform: translateX(-1rem) rotate(-60deg)'"
      (mouseleave)="iconStyle = ''"
    >
      <span>Get recommendations</span>
      <mat-icon [style]="iconStyle" aria-hidden="false" aria-label="Send icon"
        svgIcon="send" class="send-icon" ></mat-icon>
    </button>
  </form>

  <div #response>
  </div>

</div>
