<div class="not-found-container" fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-header class="center" >
        <mat-card-title>
          <h1>About</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Sorry, the page is under construction...</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goToHome()">
          Back to main page
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  